# --- SERVER CONFIGURATION ---
PORT=3000

# --- DATABASE (Prisma) ---
# Si usas Docker, el host suele ser el nombre del servicio en docker-compose (ej: 'db' o 'postgres')
DATABASE_URL="postgresql://user:password@db:5432/db_name?schema=public"

# --- SECURITY ---
# Generar con: openssl rand -base64 48 (Mínimo 64 caracteres recomendados)
JWT_SECRET=tu_clave_secreta_super_larga_aqui